$siteWidth: 960px;
$siteMinWidth: 320px;
$bodyBackground: #fff;
$leftMenuWidth: 200px;
$leftMenuBackgroundColor: #333;

@mixin respond-to($deviceType){
    @if $deviceType == mobile {
        @media only screen and (max-width: $siteWidth - 1) { @content; }
    }
    @else if $deviceType == desktop {
        @media only screen and (min-width: $siteWidth) { @content; }
    }
}

@mixin border-radius($radius: 3px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical, $blur, $color, $type: outset){
    -webkit-box-shadow: $horizontal $vertical $blur $color $type;
    -moz-box-shadow: $horizontal $vertical $blur $color $type;
    box-shadow: $horizontal $vertical $blur $color $type;
}

@mixin box-sizing($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    -o-box-sizing: $type;
    -ms-box-sizing: $type;
    box-sizing: $type;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    margin:0px;
    padding:0px;
}

.defaultTextBox {
    width:200px;
    height:40px;
    @include border-radius(3px);
    border:1px solid #ccc;
    padding:0px 10px 0px 10px;
    @include box-sizing;
}

.defaultButton {
    width:200px;
    height:40px;
    @include border-radius(3px);
    border:none;
    @include box-sizing;
    color: #fff;
    background: #ff0000;
}

#loginForm{
    width:300px;
    height: auto;
    overflow:hidden;
    padding:5px;
    margin:0 auto;
    margin-top:100px;
}

#loginForm > div.formRow{
    margin-bottom: 10px;
}

#loginForm .defaultTextBox, #loginForm .defaultButton{
    width:300px;
}

.formRow{
    height: auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}

.formRowLeft {
    min-height:40px;
	width:200px;
    float:left;
}

.formRowRight{
    min-height: 40px;
    float:left;
}

#adminLeftMenu{
    width: $leftMenuWidth;
    height:100%;
    overflow-y: auto;
    position:fixed;
    top:0px;
    left:0px;
    background: $leftMenuBackgroundColor;
    float:left;
}

#adminLeftMenu ul {
    margin-top: 15px;
}

#adminLeftMenu li {
    height:auto;
    overflow:hidden;
    line-height: 40px;
    border-bottom:1px solid #555;
}

#adminLeftMenu li ul {
    margin:0px;
    padding-left:20px;
    background: #222;
}

#adminLeftMenu li ul li {
    border:none;
}

#adminLeftMenu li a {
    color: #ccc;
    text-decoration: none;
    display: block;
    height: inherit;
    padding-left: 10px;
    line-height: inherit;
}

#adminLeftMenu li a:hover {
    color: #999;
}

#adminRightContent{
    position:fixed;
    top:0px;
    left: $leftMenuWidth;
    width: 100%;
    height:100%;
    overflow-y: auto;
    padding: 20px;
    @include box-sizing;
}

.contentList li {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    padding:0px 10px 0px 10px;
}

.contentList li:hover {
    background: #f9f9f9;
}